#title {
	font-size: rem(26);
	color: $font-color__title;
	font-weight: font-weight(bold);
}

.subtitle {
	font-size: rem(14);
	color: $font-color__subtitle;
	font-weight: font-weight(medium);
}

.heading {
	font-size: rem(18);
	font-weight: font-weight(regular);
}

.body {
	font-size: rem(14);
	color: $font-color__body;
	font-weight: font-weight(light);
	line-height: 1.6;
}